<%- include('partials/header.ejs') %>

<div class="container text-center mt-5">
  <h1 class="text-danger">Failure</h1>
  <p><%= message %></p>
  <a href="/cart" class="btn btn-warning">Go Back to Cart</a>
</div>

<%- include('partials/footer.ejs') %>
